<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.js' %>
    <%= vite_stylesheet_tag 'style.scss', media: 'all' %>
    <%= vite_javascript_tag 'vue' %>
  </head>
  <body>
    <div id="vueapp"></div>
  </body>
</html>
